---
import Layout from '../layouts/Layout.astro';

const branch = process.env.CF_PAGES_BRANCH || '';
const apiUrl = process.env.PUBLIC_API_URL || '';
const response = await fetch(apiUrl);
const data = await response.json();
---

<Layout>
	<table>
		<tbody>
			<tr>
				<th>環境名（main, staging, dev）</th>
				<td>{branch}</td>
			</tr>
			<tr>
				<th>API URL</th>
				<td>{apiUrl}</td>
			</tr>
			<tr>
				<th>投稿（userId）</th>
				<td>{data.userId}</td>
			</tr>
			<tr>
				<th>投稿（id）</th>
				<td>{data.id}</td>
			</tr>
			<tr>
				<th>投稿（title）</th>
				<td>{data.title}</td>
			</tr>
			<tr>
				<th>投稿（body）</th>
				<td>{data.body}</td>
			</tr>
		</tbody>
	</table>
</Layout>
